name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - { os: darwin, arch: amd64 }
          - { os: darwin, arch: arm64 }
          - { os: linux, arch: "386" }
          - { os: linux, arch: amd64 }
          - { os: linux, arch: arm }
          - { os: linux, arch: arm64 }
          - { os: windows, arch: "386" }
          - { os: windows, arch: amd64 }
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Build
        run: make build
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}

      - name: Package
        run: |
          mkdir -p packaged

          if [ "$GOOS" = "windows" ]; then
            zip "packaged/pathsurfer-${GOOS}-${GOARCH}.zip" ./bin/pathsurfer.exe
          else
            tar czf "packaged/pathsurfer-${GOOS}-${GOARCH}.tar.gz" ./bin/pathsurfer
          fi
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: pathsurfer-${{ matrix.os }}-${{ matrix.arch }}
          path: packaged/*

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: packaged
          merge-multiple: true

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: packaged/*

